<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if flash[:notice_sign_up] %>
        <div class="flash">
          <%= flash[:notice_sign_up] %>
        </div>
      <% end %>
      <% if flash[:notice_log_in] %>
        <div class="flash">
          <%= flash[:notice_log_in] %>
        </div>
      <% end %>
      <% if flash[:notice_update] %>
        <div class="flash">
          <%= flash[:notice_update] %>
        </div>
      <% end %>
      
      <h1>User info</h1>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
      </table>
      <%= link_to edit_user_path(@user.id) do %>
        <button type="button" class="btn btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></button>
      <% end %>
      <%= render 'list', list: @list %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
          <% @user_books.each do |book| %>
            <tr>
              <th scope="col">
                <%= link_to user_path(@user.id) do %>
                  <%= image_tag @user.get_profile_image(100,100) %>
                <% end %>
              </th>
              <th scope="col"><%= link_to book.title, book_path(book.id) %></th>
              <th scope="col"><%= book.body %></th>
            </tr>
          <% end %>
        </thead>
      </table>
    </div>
  </div>
</div>
