<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:notice_update] %>
        <div class="flash">
          <%= flash[:notice_update] %>
        </div>
      <% end %>

      <h1>User info</h1>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @book.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @book.user.introduction %></th>
        </tr>
      </table>
      <%= link_to edit_user_path(@book.user.id) do %>
        <button type="button" class="btn btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></button>
      <% end %>
      <%= render 'users/list', list: @list %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <div>
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                <% end %>
              </div>
              <div>
                <%= link_to @book.user.name, user_path(@book.user.id) %>
              </div>
            </th>
            <th scope="col"><%= @book.title %></th>
            <th scope="col"><%= @book.body %></th>
            <th scope="col">
              <% if @book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(@book), :style=>"color:red", method: :delete do %>
                    <i class="fas fa-heart"></i>
                    <%= @book.favorites.count %>
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fas fa-heart"></i>
                    <%= @book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </th>
            <th scope="col"><%= "コメント数：#{@book.book_comments.count}" %></th>
            <% if current_user == @book.user %>
              <th scope="col">
                <div style="padding: 15px">
                  <%= link_to edit_book_path(@book.id) do %>
                    <button type="button" class="btn btn-success btn-block">Edit</button>
                  <% end %>
                </div>
                <div style="padding: 15px">
                  <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" do %>
                    <button type="button" class="btn btn-danger btn-block">Destroy</button>
                  <% end %>
                </div>
              </th>
            <% else %>
            <% end %>
          </tr>
        </thead>
      </table>
      <div>
        <% if flash[:notice_comment_destroy] %>
          <div class="flash">
            <%= flash[:notice_comment_destroy] %>
          </div>
        <% end %>
        <p>コメント件数：<%= @book.book_comments.count %></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            <% @book.book_comments.each do |post_comment| %>
              <tr>
                <th scope="col">
                  <div>
                    <%= image_tag post_comment.user.get_profile_image(100,100) %>
                  </div>
                  <%= link_to post_comment.user.name, user_path(post_comment.user.id) %>
                </th>
                <th scope="col"><%= post_comment.comment %></th>
                <th style="padding: 15px" scope="col">
                  <% if post_comment.user == current_user %>
                    <%= link_to book_book_comment_path(post_comment.book, post_comment), method: :delete do %>
                      <button type="button" class="btn btn-danger">Destroy</button>
                    <% end %>
                  <% end %>
                </th>
              </tr>
            <% end %>
          </thead>
        </table>
      </div>
      <div>
        <% if @error_comment.present? %>
          <div id="error_explanation">
            <h6><%= @error_comment.errors.count %> errors prohibited this book from being saved:</h6>
            <ul>
              <% @error_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
