<div class="container">
  <div class="row">
    <div class="col-3">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:notice_update] %>
        <div class="flash">
          <%= flash[:notice_update] %>
        </div>
      <% end %>
      
      <h1>User info</h1>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @book.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @book.user.introduction %></th>
        </tr>
      </table>
      <%= link_to edit_user_path(@book.user.id) do %>
        <button type="button" class="btn btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></button>
      <% end %>
      
      <h1>New book</h1>
      <%= form_with model: @list,url:books_path, method: :post do |f| %>
      
        <h4>Title</h4>
        <%= f.text_field :title %>
      
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <div>
          <%= f.submit "Create Book", class:"btn btn-success" %>
        </div>
      
      <% end %>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
      <h1>Book detail</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <div>
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                <% end %>
              </div>
              <div>
                <%= link_to @book.user.name, user_path(@book.user.id) %>
              </div>
            </th>
            <th scope="col"><%= @book.title %></th>
            <th scope="col"><%= @book.body %></th>
            <% if current_user == @book.user %>
              <th scope="col">
                <%= link_to edit_book_path(@book.id) do %>
                  <button type="button" class="btn btn-success">Edit</button>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" do %>
                  <button type="button" class="btn btn-danger">Destroy</button>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
