<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/3d80c49399.js" crossorigin="anonymous"></script>
    <title>Sub1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar bg-dark">
        <div class="container">
          <div class="row w-100">
            <div class="col-sm-2">
              <%= link_to root_path do %>
                <font color="white">Bookers</font>
              <% end %>
              
            </div>
            <div class="col-sm-2"></div>
            <% if user_signed_in? %>
              <div class="col-sml-2">
                <%= link_to "Home", user_path(current_user.id) %>
              </div>
              <div class="col-sm-2">
                <%= link_to "Users", users_path %>
              </div>
              <div class="col-sm-2">
                <%= link_to "Books", books_path %>
              </div>
              <div class="col-sm-2">
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </div>
            <% else %>
              <div class="col-sm-2">
                <%= link_to "Home", root_path %>
              </div>
              <div class="col-sm-2">
                <%= link_to "About", about_path %>
              </div>
              <div class="col-sm-2">
                <%= link_to "Sign Up", new_user_registration_path %>
              </div>
      
              <div class="col-sm-2">
                <%= link_to "Log in", new_user_session_path %>
              </div>
            <% end %>
          </div>

        </div>

      </nav>

    </header>
    <%= yield %>
    <footer>
      <h6>CopyRight Infratop.inc</h6>
    </footer>
  </body>
</html>
